<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>629201660527-g3q673rcg9087klcj1hevmaolktfapsb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.629201660527-g3q673rcg9087klcj1hevmaolktfapsb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>629201660527-06j03rhhajgm12puud6vc878ipr5ebh2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC3qUE_c3FepengYYny58p1l61V-h_kEJ0</string>
	<key>GCM_SENDER_ID</key>
	<string>629201660527</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aboglumbo.cPanel</string>
	<key>PROJECT_ID</key>
	<string>worker-app-tnext</string>
	<key>STORAGE_BUCKET</key>
	<string>worker-app-tnext.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:629201660527:ios:bb1f3d34b1a5dd122dfb9a</string>
	<key>DATABASE_URL</key>
	<string>https://worker-app-tnext-default-rtdb.firebaseio.com</string>
</dict>
</plist>